.mapboxgl-ctrl-geocoder {
    height: 40px;
    border-radius: 20px;
    min-width: 200%;
    left: -500px;
    top: 5px;
    
 }

.mapboxgl-ctrl-geocoder--input
 {
    font-size: 15px;
    border-radius: 20px;
    height: 40px;
 }

